* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 18px;
}

fieldset {
    border: none;
}

#title {
    text-transform: uppercase;
    color: white;
    background: dodgerblue;
    padding: 25px 0;
    font-size: .8em;
}

form,
.newsletter {
    padding: 35px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    height: 50px;
    border: none;
    background: #e8eeef;
    border-radius: 5px;;
}

#zipcode {
    width: 50%;
}

textarea {
    height: 100px;
    overflow: auto;
}

.notice,
.contactinfo {
    padding: 30px 0;
    border-bottom: 3px solid dodgerblue;
}

.contactinfo {
    padding: 30px 0;
}

#title,
.notice,
.copyright {
    text-align: center;
}

.container {
    width: 85vw;
    margin: 0 auto;
}


label,
input {
    width: 100%;
    margin: .5em 0;
    display: block;
}

#topics,
select {
    width: 100%;
}

label .choice {
    display: inline;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

input[placeholder="Required"] {
    text-align: right;
    padding-right: 25px;
}

option[value=""] {
    padding-left: 25px;
}

.flexselections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.htmlcheck {
    display: inline-block;
    
}

.flexitem,
.choice {
    align-items: center;
    display: inline;
}

.flexitem {
    height: 15px;
    width: 15px;
    margin: 0 10px 0 0;
    
}

.choice {
    
}

button {
    cursor: pointer;
    padding: 18px 40px;
    width: 100%;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    background-color:lightseagreen;
    color:white;
    font-size: 20px;
}

footer {
    padding: 50px 0;
    text-align: center;
    color: #9a9a9a;
}

h2,
legend {
    font-family: 'Mukta', sans-serif;
}

legend {
    font-weight: bold;
    font-size: 25px;
}

p,
label {
    font: 350 18px 'Mukta', sans-serif;
}

@media screen and (min-width: 768px) {
    main {
    
    
    }
}